body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.underline{
  text-decoration-line: underline;
}
.container{
  margin-top: 10vh;
  margin-bottom: 10vh;
}
.navbar, .footer{
  background: #b607ff;
  width: auto;
  height: 3.5rem;
}

select{
  display: unset;
}
li button{
  margin-left: 0.5rem;
  margin-bottom: 0.5rem;
  background: white;
  border-radius: 4px;
}